

.menuContainer {
  min-width: 880px;
  width: 100%;
  background-color: #3367d6;
  box-shadow: 0px 1px 2px 0px;
  height: 100%;
}

.logoContainer {
  width: 100%;
}

.logoContainer .logo {
  font-size: 30px;
  color: #ffffff;
  padding: 10px 0 0 15px;
}

.menuButtonContainer {
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.menuButton {
  text-align: right;
}

.menuButton li {
  display: inline;
  padding-right: 7px;
  white-space: nowrap;
}

.facebook-like {
  position: fixed;
  right: 0px;
  top: 150px;
  padding-right: 5px;
  z-index: 9000;
}


.menuContainer ul li img{
  vertical-align:top;
  width: 30px;
  margin-top: -8px;
  padding: 4px 8px;
}

.menuContainer ul li a{
  border-radius: 2px;
  margin: 8px 0px;
  padding: 8px 16px;
  background-color: #ffffff;
  text-decoration: none;
  color:  #0066cc;
  box-shadow: 2px 3px 1px 0px rgba(0,0,0,.26);
}
.menuContainer ul li a:link{
}
.menuContainer ul li a:visited{
}
.menuContainer ul li a:hover{
  color: #ff8080;
  opacity: 0.9;
}
.menuContainer ul li a:active{
}
